.portfolio {
  padding: 20px 0;
  color: #fff;
  background: #787488;
  text-align: center;
  font: 36px lora;
}

.container {
  padding: 20px;
}

.container .item {
  background: #000;
  margin-bottom: 30px;
}

.container .item .line {
  height: 7px;
  background: #dc6655;
}

.container .item .foto {
  display: block;
  position: relative;
  max-height: 300px;
  overflow: hidden;
  width: auto;
  height: auto;
}

.container .item .foto .dark {
  padding-left: 10px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: background, 0.3s;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container .item .foto .dark p {
  font: 33px 'open sans';
  font-style: italic;
  font-weight: 100;
  color: #fff;
  flex-basis: 60%;
}

.container .item .foto .dark:hover {
  background: rgba(103, 100, 115, 0.8);
}

.container .item .foto .dark .logo {
  flex-basis: 30%;
  text-align: center;
}

.container .item .underline {
  background: #dc6655;
  padding: 15px 0;
}

.container .item .underline .dolgo {
  color: #fff;
  font: 22px roboto;
  margin-left: 30px;
}

.state .container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.state .container .item {
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(50% - 30px);
  background: #efeded;
  display: flex;
  flex-direction: column;
}

.state .container .item .foto {
  position: relative;
  overflow: hidden;
}

.state .container .item .foto .dark {
  position: absolute;
  background: transparent;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.state .container .item .foto .dark:hover {
  background: rgba(103, 100, 115, 0.8);
}

.state .container .item .foto img {
  display: block;
  width: 100%;
}

.state .container .item .name_post {
  text-align: center;
  font: 20px lora;
  padding-top: 15px;
}

.state .container .item .name_post a {
  text-decoration: none;
  color: #000;
}

.state .container .item .description {
  text-align: left;
  background: #efeded;
  font: 18px roboto;
  color: #364067;
  padding: 15px 8px 12px 8px;
}

.state .container .item .underline {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px 5px 15px;
  font: 18px roboto;
  color: #fff;
}

.one_column .main_img {
  max-height: 350px;
  overflow: hidden;
  margin-bottom: 15px;
}

.one_column .title {
  font: 32px lora;
  text-align: center;
  margin-bottom: 15px;
}

.one_column .inner {
  padding-left: 15px;
  padding-right: 15px;
}

.one_column .description {
  text-align: center;
  font: 20px 'marck script';
  color: #5f5f5f;
  margin-bottom: 25px;
}

.one_column .content {
  text-align: center;
  font: 24px roboto;
}

.one_column .auth_page .container {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: center;
  height: 100%;
}

.one_column .auth_page .container .auth {
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(50% - 30px);
}

.one_column .auth_page .container .auth .name {
  margin-top: 0 !important;
  text-align: center;
  font: 500 28px roboto;
  margin-bottom: 28px;
}

.one_column .auth_page .container .auth:first-child {
  border-right: 3px solid #787488;
}

.one_column .auth_page .container .auth .form {
  max-width: 400px;
  margin: 5px auto 0 auto;
}

.one_column .auth_page .container .auth .form label {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 15px auto 0 auto;
  font: 22px roboto;
}

.one_column .auth_page .container .auth .form input {
  display: block;
  width: 100%;
  margin-top: 5px;
  height: 40px;
  outline: none;
  background: #a2a2a2;
  border: 0;
  color: #fff;
  text-indent: 12px;
}

.one_column .auth_page .container .auth .form input[type=submit] {
  text-align: center;
  margin-top: 30px;
  max-width: 200px;
  margin-left: 0;
  background: #787488;
  height: 45px;
  cursor: pointer;
  font: 300 24px roboto;
  transition: background, 0.3s;
}

.one_column .auth_page .container .auth .form input[type=submit]:hover {
  background: #dc6655;
}

.main_page {
  margin-top: 20px;
}

.main_page .wrapper .main_slang {
  color: #fff;
  text-align: center;
  font: 42px lora;
  padding: 25px;
}

.main_page .wrapper .main_slang .text {
  margin-top: 15px;
  font: 24px 'marck script';
}

.main_content {
  padding-top: 30px;
  padding-bottom: 60px;
}

.main_content .different_block {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: center;
}

.main_content .different_block .about_block {
  background-image: url('../img/setwalls.ru-80680.jpg');
  background-repeat: no-repeat;
}

.main_content .different_block .portfolio_block {
  background-image: url('../img/luna.jpg');
  background-repeat: no-repeat;
}

.main_content .different_block .about_block,
.main_content .different_block .portfolio_block {
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(41.66666666666667% - 30px);
  border-radius: 50%;
  min-height: 500px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-size: auto 100%;
  transition: background-size 0.2s ease-in;
}

.main_content .different_block .about_block:hover,
.main_content .different_block .portfolio_block:hover {
  background-size: auto 110%;
  border: 2px solid #dc6655;
}

.main_content .different_block .about_block .text,
.main_content .different_block .portfolio_block .text {
  color: #fff;
  text-decoration: none;
  font: 80px 'marck script';
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

body {
  background: #1D2236;
}

.menuS {
  display: none;
}

.menuS .podl {
  background: #000;
  opacity: 0;
  position: fixed;
  width: 100%;
  min-height: 100%;
  z-index: 100;
  display: none;
  left: 0;
  top: 0;
}

.menuS .menu_btn {
  width: 35px;
  height: 35px;
  background-image: url("../img/menu_small.png");
  background-repeat: no-repeat;
  z-index: 8000;
  position: fixed;
  top: 25px;
  left: 20px;
}

.menuS .container .menu_btn {
  position: static;
  margin-top: 15px;
  margin-left: 20px;
  background-image: url("../img/close_menu.png");
  background-repeat: no-repeat;
}

.menuS .container {
  box-sizing: border-box;
  height: 100%;
  display: none;
  position: fixed;
  background: #dc6655;
  z-index: 8001;
  word-break: break-all;
  overflow-y: auto;
  text-align: center;
  /*Ширина задается в настройках, и посмотрите я там сделал чтобы left и top задавались автоматически насколько это нормально ?*/
}

.menuS .container input {
  color: #fff;
  font: 20px roboto;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  width: 90%;
  margin-top: 10px;
  outline: none;
}

.menuS .container input::-webkit-input-placeholder {
  color: #fff;
  text-indent: 12px;
  transition: color, 0.3s;
  font: 20px Pacifico;
  text-align: center;
}

.menuS .container input::-moz-placeholder {
  color: #fff;
  text-indent: 12px;
  transition: color, 0.3s;
  font: 20px Pacifico;
}

.menuS .container input:-moz-placeholder {
  color: #fff;
  text-indent: 12px;
  transition: color, 0.3s;
  font: 20px Pacifico;
}

.menuS .container input:-ms-input-placeholder {
  color: #fff;
  text-indent: 12px;
  transition: color, 0.3s;
  font: 20px Pacifico;
}

.menuS .container input:focus::-webkit-input-placeholder {
  color: transparent;
}

.menuS .container input:focus::-moz-placeholder {
  color: transparent;
}

.menuS .container input:focus:-moz-placeholder {
  color: transparent;
}

.menuS .container input:focus:-ms-input-placeholder {
  color: transparent;
}

.menuS .container ul {
  margin-left: 10px;
  margin-top: 20px;
}

.menuS .container ul li {
  font: 30px roboto;
  margin-bottom: 15px;
}

.menuS .container ul li a {
  transition: color , 0.2s;
  color: #fff;
  text-decoration: none;
}

.menuS .container ul li a:hover {
  color: #F6D6BF;
}

header .line {
  background: #dc6655;
  width: 100%;
  height: 10px;
}

header .header_img {
  width: 100%;
  min-height: 350px;
  background-image: url('../img/header.jpg');
  background-size: cover;
  background-position-y: 0px;
  position: relative;
}

header .header_img .container {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}

header .header_img .container .auth {
  margin-right: 100px;
  font: 24px roboto;
  color: #dc6655;
}

header .header_img .container .auth a {
  color: inherit;
  text-decoration: none;
}

header .header_img .container .search label {
  background-image: url('../img/search.png');
  width: 35px;
  height: 45px;
  display: block;
  background-size: 35px;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 100px;
}

header .header_img .container .search input {
  margin-top: 8px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #dc6655;
  outline: none;
  color: #dc6655;
  margin-left: 60px;
  font: 22px roboto;
}

header .header_img .name {
  position: absolute;
  left: 50%;
  top: 60%;
  text-align: center;
  word-wrap: normal;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  font: 68px Pacifico;
}

nav {
  background: #dc6655;
  padding: 12px 0;
}

nav .wrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav .wrapper ul li {
  margin-left: 60px;
}

nav .wrapper ul li a {
  color: #fff;
  text-decoration: none;
  font: 22px roboto;
  transition: color, 0.3s;
}

nav .wrapper ul li a:hover {
  color: #F6D6BF;
}

.columns {
  margin-top: 20px;
  margin-bottom: 25px;
}

.columns .wrapper .main {
  display: flex;
  flex-wrap: wrap;
}

.columns .wrapper .main .one_column {
  flex-basis: 600px;
  flex-grow: 2;
  background: #f5f6fa;
  min-height: 500px;
  margin-right: 0;
}

.columns .wrapper .main .one_column .about {
  background: #686472;
  padding: 25px 50px 25px 50px;
  font: 24px 'Open Sans';
  font-style: italic;
  font-weight: 300;
}

.columns .wrapper .main .one_column .about p {
  line-height: 50px;
  text-align: center;
  color: #fff;
}

.columns .wrapper .main .one_column .name {
  margin-top: 40px;
}

.columns .wrapper .main .one_column .name h2 {
  font: 48px lora;
  color: #3f3d3d;
  text-align: center;
  margin-bottom: 25px;
}

.columns .wrapper .main .one_column .name .foto {
  text-align: center;
  margin-bottom: 18px;
}

.columns .wrapper .main .one_column .name .citat {
  text-align: center;
  color: #3f3d3d;
  font: 26px 'Marck Script';
}

.columns .wrapper .main .one_column .help,
.columns .wrapper .main .one_column .ask {
  margin-top: 50px;
  text-align: center;
  font: 300 30px 'Open Sans';
  margin-bottom: 30px;
}

.columns .wrapper .main .one_column .help p,
.columns .wrapper .main .one_column .ask p {
  margin-bottom: 30px;
}

.columns .wrapper .main .one_column .help .btn,
.columns .wrapper .main .one_column .ask .btn {
  background: #686570;
  text-align: center;
  color: #fff;
  max-width: 300px;
  margin: 0 auto;
  padding: 10px 0;
  font: 24px 'Open Sans';
  text-transform: uppercase;
  transition: background, 0.3s;
  cursor: pointer;
}

.columns .wrapper .main .one_column .help .btn:hover,
.columns .wrapper .main .one_column .ask .btn:hover {
  background: #ca6464;
}

.columns .wrapper .main .one_column .me {
  margin-top: 50px;
  padding: 20px;
  background: #ca6464;
  color: #fff;
  font: 20px lora;
}

.columns .wrapper .main .one_column .me p {
  line-height: 1.7;
}

.columns .wrapper .main .two_column {
  flex-basis: 200px;
  flex-grow: 1;
  margin-left: 20px;
  background: #f5f6fa;
  min-height: 300px;
  align-self: flex-start;
}

.columns .wrapper .main .two_column .line {
  padding: 8px 0;
  background: #dc6655;
  font: 100 28px 'Open Sans';
  text-align: center;
  color: #fff;
}

.columns .wrapper .main .two_column .links {
  margin-top: 20px;
}

.columns .wrapper .main .two_column .links ul li {
  text-align: center;
}

.columns .wrapper .main .two_column .links ul li a {
  padding: 10px 0;
  font: 24px 'Lora';
  color: #464342;
  text-decoration: none;
  display: block;
  width: 100%;
  transition: background, 0.3s;
}

.columns .wrapper .main .two_column .links ul li a:hover {
  background: rgba(120, 116, 136, 0.5);
}

footer {
  background: #ca6464;
  padding: 22px 0 2px 0;
}

footer .copyright {
  font: 22px 'Marck Script';
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .main_content .different_block .about_block,
  .main_content .different_block .portfolio_block {
    width: calc(83.33333333333334% - 30px);
  }

  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .columns .wrapper .main .two_column {
    order: -2;
    margin-left: 0px;
    margin-bottom: 20px;
    flex-basis: 500px;
  }
}

@media screen and (max-width: 870px) {
  .state .container .item {
    width: calc(100% - 30px);
  }

  .one_column .auth_page .container .auth {
    margin-bottom: 15px;
  }

  .one_column .auth_page .container .auth {
    width: calc(100% - 30px);
  }

  .one_column .auth_page .container .auth:first-child {
    border-bottom: 3px solid #787488;
    border-right: 0;
  }

  .one_column .auth_page .container .auth .form input[type=submit] {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }

  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  header .header_img {
    min-height: 300px;
  }

  header .header_img .name {
    font-size: 48px;
  }

  nav {
    display: none;
  }

  .columns .wrapper .main .one_column .about {
    font-size: 20px;
  }
}

@media screen and (max-width: 730px) {
  .container .item .foto .dark p {
    font-size: 24px;
  }

  .container .item .underline {
    padding: 10px 0;
  }

  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .menuS {
    display: block;
  }

  header .header_img {
    min-height: 250px;
  }

  header .header_img .container {
    display: none;
  }

  header .header_img .name {
    top: 50%;
    font-size: 38px;
  }

  .columns .wrapper .main {
    order: 1;
  }

  .columns .wrapper .main .two_column {
    display: none;
  }
}

@media screen and (max-width: 560px) {
  .container .item .foto .dark p {
    font-size: 20px;
  }

  .state .container .item .foto {
    max-height: 200px;
  }

  .main_content .different_block .about_block,
  .main_content .different_block .portfolio_block {
    min-height: 350px;
  }

  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  header .header_img {
    min-height: 200px;
  }

  .columns .wrapper .main .one_column .about {
    font-size: 18px;
  }

  .columns .wrapper .main .one_column .about p {
    line-height: 35px;
  }

  .columns .wrapper .main .one_column .name h2 {
    font-size: 42px;
  }

  .columns .wrapper .main .one_column .name .citat {
    font-size: 22px;
  }

  .columns .wrapper .main .one_column .help,
  .columns .wrapper .main .one_column .ask {
    font-size: 24px;
  }

  .columns .wrapper .main .one_column .me {
    font-size: 16px;
  }

  .columns .wrapper .main .one_column .me p {
    line-height: 1.5;
  }
}

@media screen and (max-width: 360px) {
  .main_content .different_block .about_block,
  .main_content .different_block .portfolio_block {
    min-height: 50px;
  }

  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*# sourceMappingURL=style.css.map */
