.top_line {
  background: #4e4e4e;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.8); /* Параметры тени */
 .version {
   font:300 15px roboto;
   color:#fff;
 }
}
.main {
  .right_panel {
    .welcome {
      padding-top: 250px;
      height: 100%;
      min-height: 100%;
      color: #3c3c3c;
      font-size:80px;
line-height: 1.5;

    }
  }
}

.one_column {
  .main_img {
    img {
      width: 100%;
    }
  }
}